{
    "presets": [
        [
            "@babel/preset-env",
            {
                "corejs": 2,
                "useBuiltIns": "usage",
                "targets": {
                    "ie": 11
                }
            }
        ]
    ]
}