#todos-root {
    width: 420px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px #AAA;
    overflow: hidden;
    font-size: 0.8rem;
}

#todos-root input[type="text"] {
    border: 0;
    border-bottom: 1px solid #DDD;
    width: 275px;
    padding: 5px 0px;
    font-size: 1em;
    color: #666;
    outline: none;
    transition: all 0.4s;
}
#todos-root input[type="text"]::placeholder {
    color: #BBB;
}
#todos-root input[type="text"]:focus {
    border-color: rgb(255, 0, 55);
    color: black;
}
#todos-root input[type="text"].done {
    text-decoration: line-through;
    color: #AAA;
}

#todos-root ul {
    padding: 0px 10px;
    padding-top: 10px;
    margin: 0px;
}

#todos-root ul div.placeholder-text {
    margin-top: 10px;
    color: #666;
}

div.counters {
    padding: 15px;
    background: #EEE;
    color: #888;
}

.buttons__bar {
    display: flex;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}
.buttons__bar > button {
    flex: 1;
    padding: 10px;
    color: #888;
    background: #EEE;
    transition: all 0.4s;
}
.buttons__bar > button:last-child {
    margin-right: 0px;
}
.buttons__bar > button:hover {
    background: #CCC;
    color: #FFF;
}

.todo__form {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px 0px 0px 0px;
}
.todo__form > input[type="text"] {
    width: calc(100% - 40px) !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 10px !important;
}

.todo__bar {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.todo__bar > * {
    display: inline-block;
    vertical-align: middle;
}

.todo__bar button {
    padding: 10px;
    color: #888;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.4s;
}
.todo__bar button:hover {
    color: rgb(255, 0, 55);
}