div.color-buttons {
    margin-bottom: 20px;
}
div.color-buttons > button, div.color-buttons > input {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #DDD;
    color: #666;
    background: white;
    height: 3em;
    padding: 0;
    margin-right: 10px;
    width: 100px;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    transition: 0.25s all;
}
div.color-buttons > button:hover, div.color-buttons > input:hover {
    color: #222;
    background: #EEE;
    border-color: #EEE;
}
div.color-buttons > button.selected, div.color-buttons > input.selected {
    color: white;
    background: rgb(255, 0, 55);
    border-color: rgb(255, 0, 55);
}

div#container {
    width: 500px;
    height: 500px;
    margin-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #CCC;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    flex-direction: column;
}

div#container > div {
    flex: 1 0 auto;
    display: inline-flex;
}

div#container > div > span {
    flex: 1 0 auto;
}
div#container > div > span:hover {
    border: 1px solid black;
}