body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

a, a:active {
    color: inherit;
}

header {
    font-family: 'Encode Sans Expanded', sans-serif;
    background: orangered;
    color: white;
    padding: 20px;
}

header .github-link {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 1.7em;
    width: 50px;
    transition: all 0.25s;
}
header .github-link:hover {
    fill: white;
}

div.description {
    border-bottom: 2px solid #DDD;
    padding: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

.highlight {
    color: orangered;
}

.button--unstyled {
    cursor: pointer;
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;
    outline: none;
}